.u-section-1 .u-sheet-1 {
  min-height: 196px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 156px;
  box-shadow: 0 0 27px 0 rgba(0,0,0,0.5);
  margin: 20px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1;
  font-weight: 400;
  margin: 11px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-icon-2 {
  margin-top: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-1 .u-btn-1 {
    font-weight: normal;
  }

  .u-section-1 .u-text-3 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 785px;
}

.u-section-2 .u-text-1 {
  margin: 38px auto 0;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 527px;
  background-image: none;
  margin: 38px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 51px;
}

.u-section-2 .u-icon-1 {
  width: 126px;
  height: 126px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 11px 47px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 59px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 371px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 58px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 284px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 213px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 134px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 90px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 29px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 552px;
}

.u-section-3 .u-table-1 {
  width: 996px;
  margin: 95px auto 0;
}

.u-block-f27f-44 {
  background-image: none;
  font-weight: 700;
}

.u-block-f27f-41 {
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-2 {
  background-image: none;
}

.u-section-3 .u-table-cell-3 {
  background-image: none;
}

.u-section-3 .u-table-cell-4 {
  background-image: none;
}

.u-section-3 .u-table-cell-5 {
  background-image: none;
}

.u-section-3 .u-table-cell-6 {
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-table-cell-7 {
  background-image: none;
}

.u-section-3 .u-table-cell-8 {
  background-image: none;
}

.u-section-3 .u-table-cell-9 {
  background-image: none;
}

.u-section-3 .u-table-cell-10 {
  background-image: none;
}

.u-section-3 .u-table-cell-11 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-12 {
  background-image: none;
}

.u-section-3 .u-table-cell-13 {
  background-image: none;
}

.u-section-3 .u-table-cell-14 {
  background-image: none;
}

.u-section-3 .u-table-cell-15 {
  background-image: none;
}

.u-section-3 .u-table-cell-16 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-17 {
  background-image: none;
}

.u-section-3 .u-table-cell-18 {
  background-image: none;
}

.u-section-3 .u-table-cell-19 {
  background-image: none;
}

.u-section-3 .u-table-cell-20 {
  background-image: none;
}

.u-section-3 .u-table-cell-21 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-22 {
  background-image: none;
}

.u-section-3 .u-table-cell-23 {
  background-image: none;
}

.u-section-3 .u-table-cell-24 {
  background-image: none;
}

.u-section-3 .u-table-cell-25 {
  background-image: none;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-table-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 688px;
}

.u-section-4 .u-image-1 {
  width: 462px;
  height: 600px;
  margin: 46px auto 42px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 89px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 340px;
    height: 442px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-map-1 {
  width: 570px;
  height: 399px;
  margin: 51px auto;
}

@media (max-width: 767px) {
  .u-section-5 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-map-1 {
    width: 340px;
  }
}